---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProseLayout from "../../layouts/ProseLayout.astro";
const allPoetry = await getCollection("poetry");

const frontmatter = {
  title: "Poetry",
};
---

<ProseLayout frontmatter={frontmatter}>
  <h2>Global Poetry Writing Month 2025</h2>
  <a href={`/blog/global-poetry-writing-month-2025`}>Introductory post</a>
  <ul>
    <p>
      {
        allPoetry.map((poem) => {
          return (
            <li>
              <a href={`/poetry/${poem.id}`}>{poem.data.title}</a>
            </li>
          );
        })
      }
    </p>
  </ul>
</ProseLayout>

<style>
  ul {
    list-style: none;
  }
</style>
