.header {

    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;

    margin: 5px auto;

    font-family: 'Raleway', serif;
}

.bullets {

    padding: 0 10px 0 0;

    margin: 5px auto;

    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;

    font-family: 'Slabo 27px', sans-serif;

    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.center {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
