---
import { render } from "astro:content";
import NotesLayout from "../../layouts/NotesLayout.astro";
import Note from "../../components/Note.astro";
import { getPublishedEntries } from "../../utils/collections";

const notes = (await getPublishedEntries("notes")).sort(
  (a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime(),
);

const renderedNotes = await Promise.all(
  notes.map(async (note) => ({
    note,
    Content: (await render(note)).Content,
  })),
);
---

<NotesLayout title="Notes">
  {renderedNotes.length === 0 && <p>No notes yet.</p>}
  {
    renderedNotes.map(({ note, Content }) => (
      <Note
        publishedOn={note.data.publishedOn}
        href={`/notes/${note.id}`}
        tags={note.data.tags}
      >
        <Content />
      </Note>
    ))
  }
</NotesLayout>
