html, body {
  display: flex;
  flex-direction: column;
  height: 100%
}

h1 {

  @include mobile {
    a {
      font-size: 85%;
    }
  }
}

p {

  @include mobile {
    margin: 10px 0;
    line-height: 135%
  }
}

br {
  margin-bottom: 10px;
}

nav {

  @include mobile {
    font-size: 120%;
  }
}

#main {
  height: 100%;
  padding-bottom: 56px;
}

.blurb {
    flex: 1 0 auto;
    align-items: center;
}

.footer {
  flex-shrink: 0;
}

.wrapper-masthead {

  @include mobile {
    margin-bottom: 5px;
  }
}

.wrapper-footer {

  @include mobile {
    margin-top: 5px;
  }
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
}
