/*colors: ca0000
d00303*/



@media (min-width: 768px) {
  .navbar-custom {
    border-radius: 0;
    margin-bottom: 0;
  }
}

.navbar-toggle-remove-border {
  border: 0;
}

.major-container-testing {
  border: solid 1px #ca0000;
  height: 500px;
}

.row-custom {
  margin-top: 100px;
}

.column-gutter {
  padding-right: 5px;
}
