---

---

<header class="flex flex-col items-center gap-8">
  <h1 class="sm:text-7xl text-5xl font-literata">
    <a class="text-neutral-800!" href="https://tanvibhakta.in/">Tanvi Bhakta</a>
  </h1>

  <nav class="flex flex-wrap gap-8 sm:text-2xl">
    <a href="/weeknotes">Weeknotes</a>
    <a href="/resume">Resume</a>
    <a href="/code">Code</a>
  </nav>
</header>
