---

---

<header
  class="flex flex-col items-center mobile-landscape:gap-4 mobile-landscape:mt-8 mobile-landscape:mb-6 gap-8"
>
  <h1 class="sm:text-7xl text-5xl font-literata">
    <a class="text-neutral-800!" href="https://tanvibhakta.in/">Tanvi Bhakta</a>
  </h1>

  <nav class="flex flex-wrap mobile-landscape:gap-4 gap-8 sm:text-2xl">
    <a href="/work">Work</a>
    <a href="/blog">Blog</a>
    <a href="/weeknotes">Weeknotes</a>
  </nav>
</header>
