---

---

<header class="flex flex-col items-center gap-8">
  <h1 class="sm:text-7xl text-5xl font-literata">
    <a class="text-neutral-800!" href="https://tanvibhakta.in/">Tanvi Bhakta</a>
  </h1>

  <nav class="flex flex-wrap gap-8 sm:text-2xl">
    <span class="flex gap-8">
      <a href="https://medium.com/@tanvibhakta/latest">Blog</a>
      <a href="/weeknotes">Weeknotes</a>
      <!--<a href="https://tanvibhakta.mataroa.blog">Weeknotes</a>-->
    </span>
    <span class="flex gap-8">
      <a href="https://tanvibhakta.in/resume.pdf">Resume</a>
      <a href="https://github.com/tanvibhakta">Code</a>
    </span>
  </nav>
</header>
