---
import { getCollection } from "astro:content";
import ProseLayout from "../../layouts/ProseLayout.astro";
const sortedWeeknotes = (await getCollection("weeknotes")).sort(
  (a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime(),
);

const frontmatter = {
  title: "Weeknotes",
};
---

<ProseLayout frontmatter={frontmatter}>
  <ul>
    <p>
      {
        sortedWeeknotes.map((weeknote) => {
          return (
            <li>
              <a href={`/weeknotes/${weeknote.id}`}>{weeknote.data.title}</a>
            </li>
          );
        })
      }
    </p>
  </ul>
</ProseLayout>

<style>
  ul {
    list-style: none;
  }
</style>
