---
import { render } from "astro:content";
import ProseLayout from "../../layouts/ProseLayout.astro";
import { getPublishedEntriesSorted } from "../../utils/collections";
import { SECTIONS } from "../../content.config";
const sortedWeeknotes = await getPublishedEntriesSorted("weeknotes");

const latestWeeknote = sortedWeeknotes[0];
const previousWeeknotes = sortedWeeknotes.slice(1);
const { Content } = latestWeeknote
  ? await render(latestWeeknote)
  : { Content: null };
---

<ProseLayout frontmatter={SECTIONS.weeknotes}>
  {
    latestWeeknote && (
      <article>
        <h1>{latestWeeknote.data.title}</h1>
        <Content />
      </article>
    )
  }

  {
    previousWeeknotes.length > 0 && (
      <section>
        <h2>Previous weeknotes</h2>
        <ul>
          {previousWeeknotes.map((weeknote) => {
            return (
              <li>
                <a href={`/weeknotes/${weeknote.id}`}>{weeknote.data.title}</a>
              </li>
            );
          })}
        </ul>
      </section>
    )
  }
</ProseLayout>

<style>
  ul {
    list-style: none;
  }
</style>
