---
import "/src/styles/global.css";
const { class: className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/src/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Tanvi Bhakta" />

    <!--For IndieAuth https://indieweb.org/IndieAuth-->
    <link href="https://github.com/tanvibhakta" rel="me" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Tanvi Bhakta"
      href="/feed.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Tanvi Bhakta - Blog"
      href="/blog/feed.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Tanvi Bhakta - Weeknotes"
      href="/weeknotes/feed.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Tanvi Bhakta - Poetry"
      href="/poetry/feed.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Tanvi Bhakta - Digital Garden"
      href="/digitalGarden/feed.xml"
    />

    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%22110%22>🪭</text></svg>"
    />
    <title>Tanvi's Web Home</title>
    <script
      defer
      data-domain="tanvibhakta.in"
      src="https://stati.stic.earth/js/script.file-downloads.hash.outbound-links.tagged-events.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body class=`${className || "text-text-primary bg-bg-primary"}`>
    <slot />
  </body>
</html>

<style>
  html {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
