---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
// one-off pages should have: flex flex-col items-center justify-center
// long form pages (like my current work page, random notes dumps, etc, should have less margins and left justification
// blog posts also should be treated differently.
---

<Layout class="min-w-screen min-h-screen prose">
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>
