---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
/** TODO: different formats for different kinds of pages
- one-off pages should have: flex flex-col items-center justify-center
- long form pages (like my current work page, random notes dumps, etc, should have less margins and left justification
-  blog posts also should be treated differently.
  */
---

<Layout
  class="min-w-screen min-h-screen flex justify-center my-12 md:my-16 prose md:prose-lg ld:prose-xl prose-stone"
>
  <div class="mx-8 md:w-1/2 leading-6">
    {frontmatter.title && <h1>{frontmatter.title}</h1>}
    <slot />
  </div>
</Layout>
